*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
#container {
    position: relative;
}
p{
    background-color: #999999;
    margin-right: 10px;
    height: 150px;
    border: 2px solid black;
    padding: 40px 10px 5px 10px;
    overflow: hidden;
}

.title{
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    height: 35px;
    width: 100px;
    padding: 10px;
    text-align: center;
}

#Chicken {
    background-color: #D59898;
}
#Beef {
    background-color: #C14543;  
}
#Sushi {
    background-color: #E5D198;
}

.row {
    width: 100%;
}
@media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      width: 33.33%;
    }   
}
@media (min-width: 768px) and (max-width: 991px) {
.col-md-6, .col-md-12 {
      float: left;
    } 
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
  }
@media (max-width: 767px) {
    .col-sm-12 {
      float: left;
      width: 100%;
    }

  }